[Unit]
Description=Runs PIA over wiregaurd
After=network-online.target

[Service]
EnvironmentFile=/opt/piavpn-manual/settings.env
WorkingDirectory=/opt/piacon/
ExecStart=/bin/bash /opt/piacon/run_setup.sh
ExecStopPost=/bin/bash -c 'if [[ $(ip a show pia up) ]]; then echo "Bringing down pia iface"; wg-quick down pia; fi;'
Restart=always
Type=simple
User=root

[Install]
WantedBy=network-online.target
